<!--student-->
<!DOCTYPE html>
<html>
<head lang="en">
    <title>Menu</title>

    <!--/*/ <th:block th:include="fragments/navbarHead :: head"></th:block> /*/-->

</head>
<body>

<!--/*/ <th:block th:replace="fragments/navbarBody :: navbarLogin"></th:block> /*/-->

<form class="form-signin">
    <div class="jumbotron jumbotron-fluid">
        <div class="container mb-3">
            <div class="row">
                <div class="container div-center">
                    <h1 class="page-heading mb-3">Menu</h1>
                </div>
            </div>
            <div class="container input-bg input-padding">
                <div class="form-group">
                    <a href="/createStudent" class="btn btn-lg btn-block btn-light">Assigment</a>
                    <a href="/login" class="btn btn-lg btn-block btn-success mt-4">Log ind</a>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>